@import url(http://fonts.googleapis.com/css?family=Lato|Roboto+Slab:300&subset=latin,latin-ext);

$main-header-background-color: #abc;
$body-width: 58em;
$nav-bar-height: 2.6em;

// Used to ensure that the left and right sides of an
// element do not crash into the left and right sides
// of the browser window.
$lr-crumple-zone: 2em;

// Reset everyone's margins and padding to zero.
@mixin reset {
  * {
    margin: 0;
    padding: 0;
  }
}

// Changes everyone to have a red border.  Useful for debugging.
@mixin debug-show-all-borders {
  * {
    border: 1px solid red;
  }
}

// Set links color and decoration.
@mixin link-style($color: #69f) {
  a {
    color: $color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// See http://www.paulirish.com/2012/box-sizing-border-box-ftw/
@mixin box-sizing-fix {
  // apply a natural box layout model to all elements, but allowing components to change
  html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }
}

// An extra wrapper to limit the width of the .projects
// element and center it on the page.
@mixin lr-crumple-zone {
  .lr-crumple-zone {
    margin: 0 auto;
    max-width: $body-width + (2 * $lr-crumple-zone);
  }

  .lr-crumple-zone-inner {
    padding: 0 $lr-crumple-zone;
  }
}

// The header at the top of every page.  It contains a navigation bar/menu.
@mixin main-header {

  body > header {
    background-color: $main-header-background-color;
    padding: 0 $lr-crumple-zone;

    nav {
      height: $nav-bar-height;

      // Limit its width and center it horizontally.
      margin: 0 auto 1em auto;
      max-width: $body-width;

      // Spread out the various menus evenly horizontally across the page.
      display: flex;
      justify-content: space-between;
    }

    menu {
      // Center the menu items vertically in the middle of the nav bar.
      margin: auto 0;
    }

    menuitem {
      @include link-style(inherit);

      // color: white;
      font-family: 'Lato', sans-serif;
      font-size: 0.8rem;

      // make the small letters more visible
      letter-spacing: 1px;

      // Spacing between menu items.
      & + menuitem {
        margin-left: 0.8em;
      }
    }
  }
}

// The footer at the bottom of every page.
@mixin main-footer {
  body > footer {
    // Main body elements may be floating so
    // ensure that we clear them.
    clear: left;

    display: block;
    padding: 2em $lr-crumple-zone 1em $lr-crumple-zone;
    text-align: center;

    section {
      margin: 0 auto;
      
      // Limit its width and center it horizontally.
      // margin: 1em auto 2.5em auto;
      max-width: $body-width;

      // A horizontal line to separate the footer from the main content
      // of the page.
      border-top: 1px solid #ccc;

      // Gap between horizontal line and top of footer content.
      padding-top: 0.5em;

      p {
        color: #999;
        font-size: 0.7em;
      }
    }
  }
}
